asgiref==3.12.1
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.4.4
Django==6.1
django-allauth==65.19.1
django-cors-headers==4.9.0
django-environ==0.14.0
django-extensions==4.1.0
django-ratelimit==4.1.0
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.29.0
drf-yasg==1.21.15
gunicorn==26.0.0
idna==3.11
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
packaging==26.0
pillow==12.3.0
psycopg2-binary==2.9.12
PyJWT==2.10.1
python-decouple==3.8
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==0.27.1
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
whitenoise==6.9.0